
  
 <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
        <mat-card>
           
            <mat-card-subtitle>Last value received</mat-card-subtitle>
            <mat-card-title>{{lastDataPoint?.value}} {{lastDataPoint?.unit}}</mat-card-title>
    
        </mat-card> 
       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
           
            <mat-card-subtitle>Last value plotted</mat-card-subtitle>
            <mat-card-title>{{lastDataPointToPlot?.value}} {{lastDataPointToPlot?.unit}}</mat-card-title>
    
        </mat-card> 
       
    </mat-grid-tile>
 
    <mat-grid-tile>
        <mat-card> 
            <mat-form-field>
                <mat-label class="prueba">Select a unit</mat-label>
               
                <mat-select [(ngModel)]="selectedDataUnit" (selectionChange)="onUnitChange()">
                    <mat-option *ngFor="let data of dataUnits | keyvalue" [value]="data.value">
                        {{data.key}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
              

           
        </mat-card>
       
    </mat-grid-tile>
  
    </mat-grid-list>
          
    <div class="data-chart">
      <div  [id]="eventName" echarts [options]="chartOptions" [merge]="updateOptions" ></div>
      
    </div>


