<mat-toolbar>
  <span id="title">{{title}}</span>
</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="85%" >
    <mat-tab-group> 
      <mat-tab class="energy" label= "Energy" ><app-energy-data-chart></app-energy-data-chart></mat-tab>
      <mat-tab class="temperature" label= "Temperature" ><app-temperature-data-chart></app-temperature-data-chart></mat-tab>
    </mat-tab-group>
    
  
</div>
  
  
</div>